*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# 忽略key文件
*.keystore
*.jks
*.key
*.pem

# 忽略APK文件
*.apk
app/release/
app/debug/
